In [235]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("‚úÖ Environment ready and libraries loaded!")

‚úÖ Environment ready and libraries loaded!

In [236]:
import pandas as pd
import os

# Directorio de datos, esto indica donde estan guardado los archivos CSV.
data_path = "../data/"

import os

# os.listdir(path): devuelve una lista con los nombres de archivos y carpetas dentro del directorio indicado.
# En este caso, listamos los archivos dentro de la carpeta "../data/"
files = [f for f in os.listdir("../data/") if f.endswith(".csv")]

# .endswith(".csv"): m√©todo de los strings que verifica si el texto termina con un patr√≥n determinado.
# Aqu√≠ se usa para filtrar solo los archivos CSV.
print("Archivos CSV encontrados:", files)


# --------------------------------------------------------------
# üß© ETAPA: Lectura y combinaci√≥n de archivos CSV (EDA)
# Objetivo:
#   - Leer m√∫ltiples archivos (uno por a√±o) desde la carpeta "data"
#   - Agregar una columna 'Year' con el a√±o correspondiente
#   - Combinar todos los DataFrames en uno solo para el an√°lisis
# --------------------------------------------------------------

# Lista vac√≠a donde guardaremos temporalmente los DataFrames individuales
df_list = []

# Recorremos cada archivo CSV encontrado en la lista "files"
for file in files:
    
    # 1Ô∏è‚É£ Extraer el a√±o del nombre del archivo (antes del punto ".")
    # Ejemplo: "2015.csv" ‚Üí "2015"
    year = file.split(".")[0]
    
    # 2Ô∏è‚É£ Leer el archivo CSV y cargarlo como un DataFrame temporal
    # os.path.join() asegura que la ruta funcione en Windows, Mac o Linux
    temp = pd.read_csv(os.path.join(data_path, file))
    
    # 3Ô∏è‚É£ Agregar una columna nueva llamada "Year" con el a√±o correspondiente
    temp["Year"] = year
    
    # 4Ô∏è‚É£ Guardar este DataFrame temporal en la lista
    df_list.append(temp)

# --------------------------------------------------------------
# üîπ Unir todos los DataFrames en uno solo
# ignore_index=True reinicia los √≠ndices para evitar duplicados
# --------------------------------------------------------------
df = pd.concat(df_list, ignore_index=True)

# Mostrar las primeras filas del DataFrame combinado
df.head()

Archivos CSV encontrados: ['2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
# Ver el tama√±o del dataset (filas y columnas)
print("Shape:", df.shape)

# Ver los nombres de las columnas
print("\nColumnas:")
print(df.columns.tolist())

# Ver las primeras filas
df.head()

Shape: (782, 31)

Columnas:
['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'Year', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
# ======================================================

# Exploracion inicial del dataset.

# =======================================================


# Ver informacion general (tipos de datos, valores nulos, etc.)

print("Informacion general del dataframe:")
df.info()

# Contar valores nulos.

print("\n Valores nulos por columnas:")
print(df.isnull().sum())


# Revisar dupplicados
print("\n Numero de filas duplicadas:", df.duplicated().sum())

# Resumen estadistico  (solo numeros)
print("\n Resumen estadistico:")
display(df.describe())

Informacion general del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        470 non-null    object
 1   Region                         315 non-null    object
 2   Happiness Rank                 315 non-null    float64
 3   Happiness Score                315 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       315 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       315 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  315 non-null    float64
 10  Generosity                     782 non-null    float64
 11  Dystopia Residual              315 non-null    float64
 12  Year                           782 non-null    object
 13  Lower Confidence Interval      157 non-null    float64
 14  Upper Confidence Interval      157 non-null    float64
 15  Happiness.Rank                 155 non-null    float64
 16  Happiness.Score                155 non-null    float64
 17  Whisker.high                   155 non-null    float64
 18  Whisker.low                    155 non-null    float64
 19  Economy..GDP.per.Capita.       155 non-null    float64
 20  Health..Life.Expectancy.       155 non-null    float64
 21  Trust..Government.Corruption.  155 non-null    float64
 22  Dystopia.Residual              155 non-null    float64
 23  Overall rank                   312 non-null    float64
 24  Country or region              312 non-null    object
 25  Score                          312 non-null    float64
 26  GDP per capita                 312 non-null    float64
 27  Social support                 312 non-null    float64
 28  Healthy life expectancy        312 non-null    float64
 29  Freedom to make life choices   312 non-null    float64
 30  Perceptions of corruption      311 non-null    float64
dtypes: float64(27), object(4)
memory usage: 189.5+ KB

 Valores nulos por columnas:
Country                          312
Region                           467
Happiness Rank                   467
Happiness Score                  467
Standard Error                   624
Economy (GDP per Capita)         467
Family                           312
Health (Life Expectancy)         467
Freedom                          312
Trust (Government Corruption)    467
Generosity                         0
Dystopia Residual                467
Year                               0
Lower Confidence Interval        625
Upper Confidence Interval        625
Happiness.Rank                   627
Happiness.Score                  627
Whisker.high                     627
Whisker.low                      627
Economy..GDP.per.Capita.         627
Health..Life.Expectancy.         627
Trust..Government.Corruption.    627
Dystopia.Residual                627
Overall rank                     470
Country or region                470
Score                            470
GDP per capita                   470
Social support                   470
Healthy life expectancy          470
Freedom to make life choices     470
Perceptions of corruption        471
dtype: int64

 Numero de filas duplicadas: 0

 Resumen estadistico:

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,...,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
count,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,782.000000,315.000000,...,155.000000,155.000000,155.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,311.000000
mean,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.218576,2.212032,...,0.551341,0.123120,1.850238,78.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.111299
std,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.122321,0.558728,...,0.237073,0.101661,0.500028,45.104737,1.114631,0.394592,0.300310,0.252724,0.156024,0.095365
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,...,0.000000,0.000000,0.377914,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.130000,1.884135,...,0.369866,0.057271,1.591291,39.750000,4.514250,0.609500,1.055750,0.488250,0.322500,0.050000
50%,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.201982,2.211260,...,0.606042,0.089848,1.832910,78.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.082000
75%,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.278832,2.563470,...,0.723008,0.153296,2.144654,117.250000,6.176000,1.219500,1.457500,0.858000,0.540250,0.140500
max,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,...,0.949492,0.464308,3.117485,156.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.457000

In [239]:
# Listado de columas en forma de lista.


print(df.columns.tolist())

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'Year', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption']

In [240]:
# Muestra una tabla vertical.

for i, col in enumerate(df.columns):
    print(f"{i + 1:02d}. {col}")

01. Country
02. Region
03. Happiness Rank
04. Happiness Score
05. Standard Error
06. Economy (GDP per Capita)
07. Family
08. Health (Life Expectancy)
09. Freedom
10. Trust (Government Corruption)
11. Generosity
12. Dystopia Residual
13. Year
14. Lower Confidence Interval
15. Upper Confidence Interval
16. Happiness.Rank
17. Happiness.Score
18. Whisker.high
19. Whisker.low
20. Economy..GDP.per.Capita.
21. Health..Life.Expectancy.
22. Trust..Government.Corruption.
23. Dystopia.Residual
24. Overall rank
25. Country or region
26. Score
27. GDP per capita
28. Social support
29. Healthy life expectancy
30. Freedom to make life choices
31. Perceptions of corruption

In [241]:
# Las ordena alfabeticamente.

sorted(df.columns)

['Country',
 'Country or region',
 'Dystopia Residual',
 'Dystopia.Residual',
 'Economy (GDP per Capita)',
 'Economy..GDP.per.Capita.',
 'Family',
 'Freedom',
 'Freedom to make life choices',
 'GDP per capita',
 'Generosity',
 'Happiness Rank',
 'Happiness Score',
 'Happiness.Rank',
 'Happiness.Score',
 'Health (Life Expectancy)',
 'Health..Life.Expectancy.',
 'Healthy life expectancy',
 'Lower Confidence Interval',
 'Overall rank',
 'Perceptions of corruption',
 'Region',
 'Score',
 'Social support',
 'Standard Error',
 'Trust (Government Corruption)',
 'Trust..Government.Corruption.',
 'Upper Confidence Interval',
 'Whisker.high',
 'Whisker.low',
 'Year']

In [242]:
# =================================

# Limpieza de nombres de columnas

# =================================

# Para ver columnas unicas.

print("Antes de limpiar:")
print(df.columns.tolist())

# Normalizar nombres: minusculas, sin espacios ni puntos.

df.columns = (
    df.columns
    .str.strip()   # quitar espacios, al inicio o al final.
    .str.lower()    # pasar a minusculas. Convierte todos los caracteres a minusculas.
    .str.replace(' ', '_')   # reemplazar espacios vacios  por _ .  Ejemplo: "Happiness Score" ‚Üí "happiness_score"
    .str.replace('.','_') #reemplazar puntos .  por _ . Ejemplo: "Happiness.Score" ‚Üí "happiness_score"
)

print("\n Despues de limpiar:")
print(df.columns.tolist())

Antes de limpiar:
['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'Year', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption']

 Despues de limpiar:
['country', 'region', 'happiness_rank', 'happiness_score', 'standard_error', 'economy_(gdp_per_capita)', 'family', 'health_(life_expectancy)', 'freedom', 'trust_(government_corruption)', 'generosity', 'dystopia_residual', 'year', 'lower_confidence_interval', 'upper_confidence_interval', 'happiness_rank', 'happiness_score', 'whisker_high', 'whisker_low', 'economy__gdp_per_capita_', 'health__life_expectancy_', 'trust__government_corruption_', 'dystopia_residual', 'overall_rank', 'country_or_region', 'score', 'gdp_per_capita', 'social_support', 'healthy_life_expectancy', 'freedom_to_make_life_choices', 'perceptions_of_corruption']

In [243]:
## Revision de similitud de columnas

# Nivel 1: Revision manual basica.

# Ver todas las columnas (ya nombres limpios)

for i, col in enumerate(df.columns):
    print(f"{i + 1:02d}. {col}")

#Contar cuantas columnas tiene el dataframe.

print("\n Total de columnas:", len(df.columns))

01. country
02. region
03. happiness_rank
04. happiness_score
05. standard_error
06. economy_(gdp_per_capita)
07. family
08. health_(life_expectancy)
09. freedom
10. trust_(government_corruption)
11. generosity
12. dystopia_residual
13. year
14. lower_confidence_interval
15. upper_confidence_interval
16. happiness_rank
17. happiness_score
18. whisker_high
19. whisker_low
20. economy__gdp_per_capita_
21. health__life_expectancy_
22. trust__government_corruption_
23. dystopia_residual
24. overall_rank
25. country_or_region
26. score
27. gdp_per_capita
28. social_support
29. healthy_life_expectancy
30. freedom_to_make_life_choices
31. perceptions_of_corruption

 Total de columnas: 31

In [244]:
# Nivel 2: Comparacion automatica de nombres similares. El objetivo es detectar columnas de nombres parecidos. (posibles duplicados)

import difflib   # Libreria estandar de Python para comparar similitudes de texto.

cols = df.columns.tolist()  # Convertimos el listado de columnas del Dataframe en una lista normal.

# Mensaje informativo para saber que hace la celda.

print("Posibles columnas duplicadas o equivalentes:\n")


#Bucle principal: recorre cada columna una por una

for i, col1 in enumerate(cols):
    #Bucle interno: compara col1 con las columnas siguientes (evita repetir comparaciones)
    for col2 in cols[i + 1:]:

        #Calcula la similitud entre los nombres de las columnas
        #El valor va entre 0 (totalmente diferentes) y 1 (identicos)
        similarity = difflib.SequenceMatcher(None, col1, col2).ratio()

        # Si la similitud es mayor al 80% y no son exactamente iguales.
        if similarity > 0.7 and col1 != col2:

                # Imprime el par de columnas similares y su nivel de similitud. Por ejemplo 0.93.
                print(f"{col1:35} ‚Üî {col2:35}  ({similarity:.2f})")

Posibles columnas duplicadas o equivalentes:

happiness_rank                      ‚Üî happiness_score                      (0.76)
happiness_rank                      ‚Üî happiness_score                      (0.76)
happiness_score                     ‚Üî happiness_rank                       (0.76)
economy_(gdp_per_capita)            ‚Üî economy__gdp_per_capita_             (0.92)
economy_(gdp_per_capita)            ‚Üî gdp_per_capita                       (0.74)
health_(life_expectancy)            ‚Üî health__life_expectancy_             (0.92)
health_(life_expectancy)            ‚Üî healthy_life_expectancy              (0.94)
trust_(government_corruption)       ‚Üî trust__government_corruption_        (0.93)
lower_confidence_interval           ‚Üî upper_confidence_interval            (0.88)
happiness_rank                      ‚Üî happiness_score                      (0.76)
economy__gdp_per_capita_            ‚Üî gdp_per_capita                       (0.74)
health__life_expectancy_            ‚Üî healthy_life_expectancy              (0.94)

In [245]:
# Deteccion de columnas duplicadas o equivalentes por contenido real.

# Lista para guardar las columnas que son iguales. Se crea una lista vacia donde guardaremos los pares duplicados.
duplicadas = []

# Recorremos todas las columnas del dataframe.

for i, col1 in enumerate(df.columns):    #Recorre las columnas una a una, con su indice.
    for col2 in df.columns[i + 1:]:      #Evita comparar la misma columna consigo misma o repetir pares.
        #Comparamos el contenido: True si todos los valores son iguales. Incluyendo NaN)
        if df[col1].equals(df[col2]):             #Compara todo el contenido(incluye NaN y tipo de dato)
            duplicadas.append((col1, col2))
            print(f"Columnas identicas en contenido: {col1} ‚Üî {col2}")

#Resultado final
if not duplicadas:
    print("No se encontraron columnas duplicadas en contenido")
else: 
    print(f"\nSe encontraron {len(duplicadas)} pares de columnas duplicadas.")

Columnas identicas en contenido: happiness_rank ‚Üî happiness_rank
Columnas identicas en contenido: happiness_score ‚Üî happiness_score

Columnas identicas en contenido: dystopia_residual ‚Üî dystopia_residual

Se encontraron 3 pares de columnas duplicadas.

In [246]:
# ===========================================================
# üîç DETECCI√ìN DE COLUMNAS DUPLICADAS (por contenido real)
# -----------------------------------------------------------
# Objetivo:
#   Revisar si dentro del DataFrame (df) existen columnas que
#   tengan exactamente los mismos valores (duplicadas reales),
#   aunque se llamen distinto.
# ===========================================================

# 1Ô∏è‚É£ Crear una lista vac√≠a donde guardaremos los pares de columnas duplicadas
duplicadas = []

# 2Ô∏è‚É£ Recorrer todas las columnas del DataFrame (una por una)
# enumerate() nos da el n√∫mero (i) y el nombre (col1) de la columna
for i, col1 in enumerate(df.columns):

    # 3Ô∏è‚É£ Segundo bucle:
    # Recorremos las columnas que vienen DESPU√âS de la actual (col1)
    # As√≠ evitamos repetir comparaciones o comparar la misma columna consigo misma
    for j, col2 in enumerate(df.columns[i + 1:], start=i + 1):

        # 4Ô∏è‚É£ Evitar comparar columnas con el mismo nombre (aunque est√©n en posiciones diferentes)
        if col1 == col2:
            continue  # "continue" salta a la siguiente columna sin comparar

        # 5Ô∏è‚É£ Comparar el contenido de ambas columnas
        # .equals() devuelve True si todos los valores son iguales (incluye NaN)
        if df[col1].equals(df[col2]):

            # 6Ô∏è‚É£ Si son id√©nticas, las agregamos a la lista de duplicadas
            duplicadas.append((col1, col2))

            # 7Ô∏è‚É£ Y mostramos en pantalla el par encontrado
            print(f"Columnas id√©nticas en contenido: {col1} ‚Üî {col2}")

# 8Ô∏è‚É£ Resultado final:
# Si no se encontr√≥ nada, avisamos; si s√≠, mostramos cu√°ntos pares hay
if not duplicadas:
    print("‚úÖ No se encontraron columnas duplicadas en contenido.")
else:
    print(f"\n‚ö†Ô∏è Se encontraron {len(duplicadas)} pares de columnas duplicadas.")

‚úÖ No se encontraron columnas duplicadas en contenido.

In [247]:
# Deteccion de valores nulos y su tratamiento.
#Objetivo: ver cuantos valores faltan en cada columna, calcular el porcentaje de nulos y decidir si los eliminamos o reemplazamos.

# Ver cuantos valores nulos hay por columna.

#.isna() devuelve True si el valor es nulo, False si no lo es.
# .sum() suma cuantos True hay (o sea, cuantos nulos)

nulos_por_columna = df.isna().sum()
print("Cantidad de valores nulos:")
print(nulos_por_columna)

Cantidad de valores nulos:
country                          312
region                           467
happiness_rank                   467
happiness_score                  467
standard_error                   624
economy_(gdp_per_capita)         467
family                           312
health_(life_expectancy)         467
freedom                          312
trust_(government_corruption)    467
generosity                         0
dystopia_residual                467
year                               0
lower_confidence_interval        625
upper_confidence_interval        625
happiness_rank                   627
happiness_score                  627
whisker_high                     627
whisker_low                      627
economy__gdp_per_capita_         627
health__life_expectancy_         627
trust__government_corruption_    627
dystopia_residual                627
overall_rank                     470
country_or_region                470
score                            470
gdp_per_capita                   470
social_support                   470
healthy_life_expectancy          470
freedom_to_make_life_choices     470
perceptions_of_corruption        471
dtype: int64

In [248]:
#Calcular el porcentaje de nulos por columna
#dividimos los nulos entre el total de filas y multiplicamos por 100.

porcentaje_nulos = (df.isna().sum() / len(df))*100

print("\n Porcentaje de valores nulos por columna:")
print(porcentaje_nulos.round(2))

 Porcentaje de valores nulos por columna:
country                          39.90
region                           59.72
happiness_rank                   59.72
happiness_score                  59.72
standard_error                   79.80
economy_(gdp_per_capita)         59.72
family                           39.90
health_(life_expectancy)         59.72
freedom                          39.90
trust_(government_corruption)    59.72
generosity                        0.00
dystopia_residual                59.72
year                              0.00
lower_confidence_interval        79.92
upper_confidence_interval        79.92
happiness_rank                   80.18
happiness_score                  80.18
whisker_high                     80.18
whisker_low                      80.18
economy__gdp_per_capita_         80.18
health__life_expectancy_         80.18
trust__government_corruption_    80.18
dystopia_residual                80.18
overall_rank                     60.10
country_or_region                60.10
score                            60.10
gdp_per_capita                   60.10
social_support                   60.10
healthy_life_expectancy          60.10
freedom_to_make_life_choices     60.10
perceptions_of_corruption        60.23
dtype: float64

In [249]:
# ===========================================================
# üìã TABLA: Porcentaje de valores nulos por columna (versi√≥n robusta)
# ===========================================================

import pandas as pd

# 1Ô∏è‚É£ Calcular el porcentaje de nulos
porcentaje_nulos = (df.isna().sum() / len(df)) * 100

# 2Ô∏è‚É£ Convertir en DataFrame y ordenar de mayor a menor
tabla_nulos = (
    porcentaje_nulos
    .reset_index()  # convierte el √≠ndice en columna normal
    .rename(columns={'index': 'columna', 0: 'porcentaje_nulos'})  # asegura nombres
)

# Si por alguna raz√≥n la columna de valores no se llama 'porcentaje_nulos', la detectamos:
if 'porcentaje_nulos' not in tabla_nulos.columns:
    # detectamos autom√°ticamente la segunda columna
    valor_col = tabla_nulos.columns[1]
    tabla_nulos = tabla_nulos.rename(columns={valor_col: 'porcentaje_nulos'})

# 3Ô∏è‚É£ Ordenar, redondear y filtrar
tabla_nulos = (
    tabla_nulos
    .sort_values(by='porcentaje_nulos', ascending=False)
    .reset_index(drop=True)
)
tabla_nulos['porcentaje_nulos'] = tabla_nulos['porcentaje_nulos'].round(2)
tabla_nulos = tabla_nulos[tabla_nulos['porcentaje_nulos'] > 0]

# 4Ô∏è‚É£ Mostrar resultado
print("üìã Porcentaje de valores nulos por columna (ordenado de mayor a menor):\n")
display(tabla_nulos)

üìã Porcentaje de valores nulos por columna (ordenado de mayor a menor):

                          columna  porcentaje_nulos
0   trust__government_corruption_             80.18
1        health__life_expectancy_             80.18
2        economy__gdp_per_capita_             80.18
3                     whisker_low             80.18
4                    whisker_high             80.18
5                 happiness_score             80.18
6                  happiness_rank             80.18
7               dystopia_residual             80.18
8       lower_confidence_interval             79.92
9       upper_confidence_interval             79.92
10                 standard_error             79.80
11      perceptions_of_corruption             60.23
12              country_or_region             60.10
13                   overall_rank             60.10
14                          score             60.10
15                 gdp_per_capita             60.10
16                 social_support             60.10
17        healthy_life_expectancy             60.10
18   freedom_to_make_life_choices             60.10
19                         region             59.72
20                 happiness_rank             59.72
21                happiness_score             59.72
22       economy_(gdp_per_capita)             59.72
23  trust_(government_corruption)             59.72
24       health_(life_expectancy)             59.72
25              dystopia_residual             59.72
26                        country             39.90
27                        freedom             39.90
28                         family             39.90

In [250]:
# ===========================================================
# üß© PASO 3.2: LIMPIEZA DE VALORES NULOS
# -----------------------------------------------------------
# Objetivo:
#   - Eliminar columnas con demasiados nulos
#   - Rellenar valores faltantes en columnas importantes
# ===========================================================

# 1Ô∏è‚É£ Revisar el resumen general de nulos (porcentaje)
porcentaje_nulos = (df.isna().sum() / len(df)) * 100
print("üìã Resumen general de nulos (en %):")
print(porcentaje_nulos.round(2))

# -----------------------------------------------------------
# 2Ô∏è‚É£ Eliminar columnas con m√°s del 70% de valores nulos
# (ya no aportan informaci√≥n √∫til al an√°lisis)
columnas_a_eliminar = porcentaje_nulos[porcentaje_nulos > 70].index.tolist()

print("\n‚ö†Ô∏è Columnas eliminadas por tener m√°s del 70% de nulos:")
print(columnas_a_eliminar)

df.drop(columns=columnas_a_eliminar, inplace=True)

# -----------------------------------------------------------
# 3Ô∏è‚É£ Verificamos nuevamente el n√∫mero de columnas
print(f"\n‚úÖ Total de columnas restantes: {df.shape[1]}")

# -----------------------------------------------------------
# 4Ô∏è‚É£ Rellenar valores nulos en columnas con pocos faltantes

# Ejemplo: si existe alguna columna de texto o categor√≠a (como 'region')
# rellenamos los vac√≠os con la palabra 'Desconocido'
if 'region' in df.columns:
    df['region'] = df['region'].fillna('Desconocido')

# Ejemplo: si hay columnas num√©ricas como 'happiness_score' o 'family',
# se puede rellenar con el promedio de esa columna.
for col in df.select_dtypes(include=['float', 'int']).columns:
    if df[col].isna().sum() > 0:
        media = df[col].mean()
        df[col].fillna(media, inplace=True)
        print(f"üßÆ Columna '{col}' rellenada con su media ({media:.2f})")

# -----------------------------------------------------------
# 5Ô∏è‚É£ Comprobamos que ya no haya nulos
print("\nüîé Nulos restantes despu√©s de la limpieza:")
print(df.isna().sum()[df.isna().sum() > 0])

üìã Resumen general de nulos (en %):
country                          39.90
region                           59.72
happiness_rank                   59.72
happiness_score                  59.72
standard_error                   79.80
economy_(gdp_per_capita)         59.72
family                           39.90
health_(life_expectancy)         59.72
freedom                          39.90
trust_(government_corruption)    59.72
generosity                        0.00
dystopia_residual                59.72
year                              0.00
lower_confidence_interval        79.92
upper_confidence_interval        79.92
happiness_rank                   80.18
happiness_score                  80.18
whisker_high                     80.18
whisker_low                      80.18
economy__gdp_per_capita_         80.18
health__life_expectancy_         80.18
trust__government_corruption_    80.18
dystopia_residual                80.18
overall_rank                     60.10
country_or_region                60.10
score                            60.10
gdp_per_capita                   60.10
social_support                   60.10
healthy_life_expectancy          60.10
freedom_to_make_life_choices     60.10
perceptions_of_corruption        60.23
dtype: float64

‚ö†Ô∏è Columnas eliminadas por tener m√°s del 70% de nulos:
['standard_error', 'lower_confidence_interval', 'upper_confidence_interval', 'happiness_rank', 'happiness_score', 'whisker_high', 'whisker_low', 'economy__gdp_per_capita_', 'health__life_expectancy_', 'trust__government_corruption_', 'dystopia_residual']

‚úÖ Total de columnas restantes: 17
üßÆ Columna 'economy_(gdp_per_capita)' rellenada con su media (0.90)
üßÆ Columna 'family' rellenada con su media (0.99)
üßÆ Columna 'health_(life_expectancy)' rellenada con su media (0.59)
üßÆ Columna 'freedom' rellenada con su media (0.40)
üßÆ Columna 'trust_(government_corruption)' rellenada con su media (0.14)
üßÆ Columna 'overall_rank' rellenada con su media (78.50)
üßÆ Columna 'score' rellenada con su media (5.39)
üßÆ Columna 'gdp_per_capita' rellenada con su media (0.90)
üßÆ Columna 'social_support' rellenada con su media (1.21)
üßÆ Columna 'healthy_life_expectancy' rellenada con su media (0.66)
üßÆ Columna 'freedom_to_make_life_choices' rellenada con su media (0.42)
üßÆ Columna 'perceptions_of_corruption' rellenada con su media (0.11)

üîé Nulos restantes despu√©s de la limpieza:
country              312
country_or_region    470
dtype: int64

In [251]:
# ===========================================================
# üß© PASO 3.3: FUSI√ìN Y RELLENO DE COLUMNAS RELACIONADAS
# -----------------------------------------------------------
# Objetivo:
#   - Fusionar 'country' y 'country_or_region'
#   - Rellenar valores vac√≠os de 'country' con los datos de 'country_or_region'
# ===========================================================

# 1Ô∏è‚É£ Verificamos si ambas columnas existen
if 'country' in df.columns and 'country_or_region' in df.columns:
    print("üîÑ Fusionando columnas 'country' y 'country_or_region'...")

    # 2Ô∏è‚É£ Rellenar valores vac√≠os en 'country' con los de 'country_or_region'
    df['country'] = df['country'].fillna(df['country_or_region'])

    # 3Ô∏è‚É£ Eliminar la columna 'country_or_region' (ya no se necesita)
    df.drop(columns=['country_or_region'], inplace=True)

    print("‚úÖ Columna 'country_or_region' eliminada y valores combinados en 'country'.")

# 4Ô∏è‚É£ Verificar nuevamente los nulos despu√©s de la fusi√≥n
print("\nüîé Nulos restantes por columna:")
print(df.isna().sum()[df.isna().sum() > 0])

üîÑ Fusionando columnas 'country' y 'country_or_region'...
‚úÖ Columna 'country_or_region' eliminada y valores combinados en 'country'.

üîé Nulos restantes por columna:
Series([], dtype: int64)